In [1]:
# import libraries 

from bs4 import BeautifulSoup
import requests
import time
import datetime

import smtplib

In [25]:
# Connect to website

URL = 'https://www.amazon.com/Funny-Data-Systems-Business-Analyst/dp/B07FNW9FGJ/ref=sr_1_3?dchild=1&keywords=data%2Banalyst%2Btshirt&qid=1626655184&sr=8-3&customId=B0752XJYNL&th=1'

headers = {"User-Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/128.0.0.0 Safari/537.36", "Accept-Encoding":"gzip, deflate", "Accept":"text/html,application/xhtml+xml,application/xml;q=0.9,*/*;q=0.8", "DNT":"1","Connection":"close", "Upgrade-Insecure-Requests":"1"}

page = requests.get(URL, headers=headers)

soup1 = BeautifulSoup(page.content, "html.parser")

soup2 = BeautifulSoup (soup1.prettify(), "html.parser")

title = soup2.find(id='productTitle').get_text()

#price = soup2.find(id='priceblock_ourprice').get_text()
#price = soup2.find('span', class_='aok-offscreen').get_text(strip=True)
price_symbol = soup2.find(class_='a-price-symbol').get_text(strip=True)
price_whole = soup2.find(class_='a-price-whole').get_text(strip=True)
price_fraction = soup2.find(class_='a-price-fraction').get_text(strip=True)
price = f'{price_symbol}{price_whole}{price_fraction}'

print(title)
print(price)

                    Funny Got Data MIS Data Systems Business Analyst T-Shirt

$9.97

In [31]:
price = price.strip()[1:]
title = title.strip()

print(title)
print(price)

Funny Got Data MIS Data Systems Business Analyst T-Shirt
9.97

In [39]:
import datetime

today= datetime.date.today()

print(today)

2024-09-07

In [41]:
import csv

header = ['Title', 'Price', 'Date']
data = [title, price, today]
#type(data)


#with open('AmazonWebScrapperDataset.csv', 'w', newline='', encoding='UTF8') as f:
    #writer = csv.writer(f)
    #writer.writerow(header)
    #writer.writerow(data)

In [53]:
import pandas as pd

df = pd.read_csv(r"C:\Users\Admin\AmazonWebScrapperDataset.csv")

df

                                               Title  Price        Date
0  Funny Got Data MIS Data Systems Business Analy...   9.97  2024-09-07
1  Funny Got Data MIS Data Systems Business Analy...   9.97  2024-09-07
2  Funny Got Data MIS Data Systems Business Analy...   9.97  2024-09-07
3  Funny Got Data MIS Data Systems Business Analy...   9.97  2024-09-07
4  Funny Got Data MIS Data Systems Business Analy...   9.97  2024-09-07

In [51]:
#appending data to the csv

with open('AmazonWebScrapperDataset.csv', 'a+', newline='', encoding='UTF8') as f:
    writer = csv.writer(f)
    writer.writerow(data)

In [55]:
def check_price():
    URL = 'https://www.amazon.com/Funny-Data-Systems-Business-Analyst/dp/B07FNW9FGJ/ref=sr_1_3?dchild=1&keywords=data%2Banalyst%2Btshirt&qid=1626655184&sr=8-3&customId=B0752XJYNL&th=1'

    headers = {"User-Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/128.0.0.0 Safari/537.36", "Accept-Encoding":"gzip, deflate", "Accept":"text/html,application/xhtml+xml,application/xml;q=0.9,*/*;q=0.8", "DNT":"1","Connection":"close", "Upgrade-Insecure-Requests":"1"}

    page = requests.get(URL, headers=headers)

    soup1 = BeautifulSoup(page.content, "html.parser")

    soup2 = BeautifulSoup (soup1.prettify(), "html.parser")

    title = soup2.find(id='productTitle').get_text()

    price_symbol = soup2.find(class_='a-price-symbol').get_text(strip=True)
    price_whole = soup2.find(class_='a-price-whole').get_text(strip=True)
    price_fraction = soup2.find(class_='a-price-fraction').get_text(strip=True)
    price = f'{price_symbol}{price_whole}{price_fraction}'
    
    price = price.strip()[1:]
    title = title.strip()

    import datetime

    today= datetime.date.today()

    import csv

    header = ['Title', 'Price', 'Date']
    data = [title, price, today]

    with open('AmazonWebScrapperDataset.csv', 'a+', newline='', encoding='UTF8') as f:
        writer = csv.writer(f)
        writer.writerow(data)

    if(price < 6):
        send_mail()

In [ ]:
while(True):
    check_price()
    time.sleep(86400)

In [59]:
import pandas as pd

df = pd.read_csv(r"C:\Users\Admin\AmazonWebScrapperDataset.csv")

df

                                                Title  Price        Date
0   Funny Got Data MIS Data Systems Business Analy...   9.97  2024-09-07
1   Funny Got Data MIS Data Systems Business Analy...   9.97  2024-09-07
2   Funny Got Data MIS Data Systems Business Analy...   9.97  2024-09-07
3   Funny Got Data MIS Data Systems Business Analy...   9.97  2024-09-07
4   Funny Got Data MIS Data Systems Business Analy...   9.97  2024-09-07
5   Funny Got Data MIS Data Systems Business Analy...   9.97  2024-09-07
6   Funny Got Data MIS Data Systems Business Analy...  19.95  2024-09-07
7   Funny Got Data MIS Data Systems Business Analy...   9.99  2024-09-07
8   Funny Got Data MIS Data Systems Business Analy...  18.99  2024-09-07
9   Funny Got Data MIS Data Systems Business Analy...  14.99  2024-09-07
10  Funny Got Data MIS Data Systems Business Analy...   9.97  2024-09-07

In [ ]:
# If uou want to try sending yourself an email (just for fun) when a price hits below a certain level you can try it
# out with this script

#def send_mail():
    #server = smtplib.SMTP_SSL('smtp.gmail.com',465)
    #server.ehlo()
    #server.starttls()
    #server.ehlo()
    #server.login('kelechinnabuihe16@gmail.com','password')
    
    #subject = "The Shirt you want is below $15! Now is your chance to buy!"
    #body = "Kelechi, This is the moment we have been waiting for. Now is your chance to pick up the shirt of your dreams. Don't mess it up! Link here: https://www.amazon.com/Funny-Data-Systems-Business-Analyst/dp/B07FNW9FGJ/ref=sr_1_3?dchild=1&keywords=data+analyst+tshirt&qid=1626655184&sr=8-3"
   
    #msg = f"Subject: {subject}\n\n{body}"
    
    #server.sendmail(
     #   'kelechinnabuihe16@gmail.com',
      #  msg
     
    #)